<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/login-page.css"/>
    <title>Login</title>

</head>
<body>

<!-- 상단 바 -->
<div class="topbar">
    <button class="btn primary" onclick="location.href='/join-form'">JoinBtn Area</button>
</div>

<div class="container">
    <div class="grid">
        <section class="panel">
            <h3>로그인</h3>
            <form method="post" action="/login">
                <input class="field" type="text" name="username" id="username" placeholder="아이디">
                <input class="field" type="password" name="password" id="password" placeholder="비밀번호">
                <button class="btn primary submit" type="submit">LogIn</button>
                <div class="helper">
                    <a href="/join-form">회원가입</a>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="footerline"></div>

</body>
</html>
