<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>BoardId: {{model.boardId}}</p>
        <p>Board CreatedAt: {{model.createAt}}</p>
        <p>UserID: {{model.userId}}</p>
        <hr/>
    </div>

</body>
</html>