<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#models}}
    <h1>{{userId}}</h1>
    <h1>{{username}}</h1>
    <h1>{{title}}</h1>
    <h1>{{content}}</h1>
    <h1>{{views}}</h1>
    <h1>{{id}}</h1>
    <h1>{{createAt}}</h1>
    <h1>{{updatedAt}}</h1>
    <h1>{{bookmark}}</h1>
    <h1>카테고리 :{{categoryId}}</h1>
    <h1>----------------</h1>
{{/models}}
</body>
</html>