<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>북마크 - Mobble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 로고 폰트 -->
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
            rel="stylesheet"
    />


    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/board-list.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/mybookmark-list.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<!-- Header -->
{{> layout/header}}

{{> layout/sidebar}}

<!-- Main -->
<main class="feed-container no-right">
    <!-- 좌측 리스트 -->
    <section class="feed-left">
        <h2>북마크</h2>

        <!-- 정렬 -->
        <div class="feed-sorting">
            <a href="/bookmarks?sort=createAt_DESC">최신순</a> | <a href="/bookmarks?sort=views_DESC">조회수순</a> | <a
                href="/bookmarks?sort=bookCount_DESC">북마크순</a>
        </div>

        {{#model.bookmarksList}}
            <!-- 카드 1 -->
            <article class="post-card">
                <a class="post-link" href="/boards/{{board.id}}">
                    <div class="thumb">
                        {{#image}}<img src="{{image}}" alt="thumbnail"/>{{/image}}
                        {{^image}}<img src="/img/thumbnail.png" alt="thumbnail"/>{{/image}}
                    </div>
                    <div class="post-body">
                        <div class="tags">{{board.category}}</div>
                        <h3 class="title">{{board.title}}</h3>
                        <p class="excerpt">
                            {{excerpt}}
                        </p>
                        <div class="meta">
                            <time datetime="2025-09-08">{{createAt}}</time>
                            <span><i class="fa-regular fa-eye"></i> {{board.views}}</span>
                            <span><i class="fa-solid fa-bookmark"></i> {{board.bookmarkCount}}</span>
                        </div>
                    </div>
                </a>
            </article>
        {{/model.bookmarksList}}

        <!-- 페이징 -->
        <nav class="pagination" aria-label="페이지네이션">
            {{^model.isFirst}}
                <a href="/bookmarks?&page={{model.prev}}&sort={{currentSort}}">prev</a>
            {{/model.isFirst}}

            {{^model.isLast}}
                <a href="/bookmarks?&page={{model.next}}&sort={{currentSort}}">next</a>
            {{/model.isLast}}
        </nav>


    </section>
</main>

<!-- Footer -->
{{> layout/footer}}

<!-- Script -->
<script src="/js/sidebar.js" defer></script>
<script src="/js/search-clear.js" defer></script>
<script src="/js/footer.js" defer></script>
</body>
</html>
